@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al examen de la 2º Evaluación!!</h1>
    <p>Aplicación web realizada por Ángel Mora González.</p>
</div>
